{% from 'form_helper.html' import displayField %}

{% extends 'layout.html' %}

{% block title %} Login Page {% endblock %}


{% block body %}

<h2>Login to Account!</h2>
<p> Enter your password to search/drop a review! </p>

<form action="{{ url_for('login')}}" method="POST">
  {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
  {{ displayField(form.password, 'Password') }}
  <div>
      {{ form.submit_button }}
  </div>
  {{ form.csrf_token }}


</form>

<p style="color:green"> Not a member? <a href="{{url_for('index')}}"> click here to join</a> </p>


{% endblock %}
